<div id="container">
  <div id="profile">
    <div class="grid p-fluid">
      <div class="col-12 flex justify-content-center h-12rem">
        <img src="assets/images/png/github.png">
      </div>
      <div class="col-12 text-center text-white">
        <div>
          <h2>Anderson Alpin</h2>
          <h4>Full Stack Developer</h4>
        </div>
        <div class="mt-1 text-sm">
          <i class="pi pi-users mr-2"></i>
          <span>13 Followers</span>
          <span>23 Following</span>
        </div>
        <div id="user-info" class="mt-2 text-left">
          <div class="my-1">
            <i class="fa fa-building-o mr-2"></i>
            <span>Nimerya</span>
          </div>
          <div class="my-1">
            <i class="fa fa-map-marker mr-2"></i>
            <span>Ubatã, BA</span>
          </div>
          <div class="my-1">
            <i class="fa fa-envelope-o mr-2"></i>
            <span>anderson@gmail.com.br</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="repositories">
    <div>
      <div class="repositoy-info">
        <a class="cursor-pointer">Cursos</a> <span>Public</span>
        <div>Meus cursos</div>
        <div>Javascript</div>
      </div>
      <div class="repositoy-info">
        <a href="">Cursos</a> <span>Public</span>
        <div>Meus cursos</div>
        <div>Javascript</div>
      </div>
      <div class="repositoy-info">
        <a href="">Cursos</a> <span>Public</span>
        <div>Meus cursos</div>
        <div>Javascript</div>
      </div>
    </div>
  </div>
</div>