<form [formGroup]="formGroup">
  <div class="box-container">
    <div class="box">
      <div class="grid p-2">
        <div class="col-12 text-center mb-2">
          <h1>Login</h1>
        </div>
        <div class="col-12">
          <input formControlName="user" type="email" pInputText class="w-full" placeholder="User">
        </div>
        <div class="col-12">
          <input formControlName="password" type="password" pPassword class="w-full" placeholder="Password" [feedback]="false">
        </div>
        <div class="col-12">
          <button type="submit" pButton class="w-full p-button-success" label="Sign In" icon="pi pi-sign-in" (click)="login()"></button>
        </div>
        <div class="col-12">
          <div class="text-center text-sm">Login with</div>
        </div>
        <div class="col-12 flex justify-content-center">
          <div class="flex justify-content-around w-7">
            <button type="button" pButton pTooltip="GitHub" tooltipPosition="top" icon="pi pi-github" 
            class="p-button-secondary p-button-sm" (click)="redirectToGithubAuth()">
            </button>
            <button type="button" pButton pTooltip="Google" tooltipPosition="top" icon="pi pi-google" 
              class="p-button-danger p-button-sm" (click)="redirectToGoogleAuth()">
            </button>
            <button type="button" pButton pTooltip="Facebook" tooltipPosition="top" icon="pi pi-facebook" 
              class="p-button-sm" (click)="redirectToFaceAuth()">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>






<!-- <div class="h-screen flex justify-content-center align-items-center">
  <button type="button" pButton label="Auth with GitHub" icon="pi pi-github" 
    class="p-button-secondary" (click)="redirectToGithubAuth()">
  </button>
</div> -->