<div id="topbar" class="flex align-items-center justify-content-between px-5">
  <a class="logo" class="cursor-pointer" (click)="navigateToHome()">
    <img alt="Nymeria" style="max-height: 35px;" src="assets/images/png/github.png" >
  </a>
  <div>
    <div>
      <button id="button-profile" type="button" pButton icon="pi pi-fw pi-angle-down" iconPos="right" [label]="user?.name" class="p-button-text p-button-plain p-button-sm" 
        (click)="menu.toggle($event)">
        <img [src]="user?.avatar_url" class="mr-2 image-profile">
      </button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
</div>